@font-face {
	font-family: 'iconfont'; /* Project id 3754679 */
	src: url('iconfont.ttf?t=1667803750122') format('truetype');
}

.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
	content: '\eb61';
}

.icon-jishufuwu:before {
	content: '\eb64';
}

.icon-ceshishenqing:before {
	content: '\eb62';
}

.icon-jinggao:before {
	content: '\eb65';
}

.icon-renjijiaohu:before {
	content: '\eb66';
}

.icon-shiyongwendang:before {
	content: '\eb67';
}

.icon-shujukanban:before {
	content: '\eb68';
}

.icon-zhanghaoquanxianguanli:before {
	content: '\eb69';
}

.icon-guanbi:before {
	content: '\eb6a';
}

.icon-xiajiantou:before {
	content: '\eb6d';
}

.icon-shangjiantou:before {
	content: '\eb6e';
}

.icon-icon_loading:before {
	content: '\eb80';
}

.icon-icon_fabu:before {
	content: '\eb88';
}

.icon-icon_tianjia:before {
	content: '\eb89';
}

.icon-icon_zhanghao:before {
	content: '\eb8a';
}

.icon-icon_shezhi:before {
	content: '\eb8d';
}

.icon-icon_baocun:before {
	content: '\eb8e';
}

.icon-biaodanzujian-shurukuang:before {
	content: '\eb94';
}

.icon-biaodanzujian-biaoge:before {
	content: '\eb95';
}

.icon-biaodanzujian-xialakuang:before {
	content: '\eb96';
}

.icon-biaodanzujian-anniu:before {
	content: '\eb97';
}

.icon-xingzhuang-wenzi:before {
	content: '\eb99';
}

.icon-xingzhuang-tuoyuanxing:before {
	content: '\eb9a';
}

.icon-xingzhuang-sanjiaoxing:before {
	content: '\eb9b';
}

.icon-xingzhuang-xingxing:before {
	content: '\eb9c';
}

.icon-yingwen:before {
	content: '\ebe0';
}

.icon-zhongwen:before {
	content: '\ebe2';
}

.icon-miwen:before {
	content: '\ebe3';
}

.icon-duigou:before {
	content: '\ebe6';
}

.icon-kongjianxuanzhong:before {
	content: '\ebef';
}

.icon-kongjianweixuan:before {
	content: '\ebf0';
}

.icon-suoxiao:before {
	content: '\ec13';
}

.icon-fangda:before {
	content: '\ec14';
}

.icon-huanyuanhuabu:before {
	content: '\ec15';
}

.icon-quanping:before {
	content: '\ec16';
}

.icon-wenjianjia:before {
	content: '\ec17';
}

.icon-shanchusekuai:before {
	content: '\ec45';
}

.icon-fuzhi:before {
	content: '\ec7a';
}

.icon-shanchu:before {
	content: '\ec7b';
}

.icon-tianxie:before {
	content: '\ec88';
}
