@import './light.scss';
@import './dark.scss';

:root {
  --theme-color: #{$light-color};
  --theme-bg: #{$light-bg};
  --theme-border: #{$light-border};
  --theme-canvas-bg: #{$light-canvas-bg};
  --theme-active: #{$light-active};
}

.dark {
  --theme-color: #{$dark-color};
  --theme-bg: #{$dark-bg};
  --theme-border: #{$dark-border};
  --theme-canvas-bg: #{$dark-canvas-bg};
  --theme-active: #{$dark-active};
}
