@import './light.scss';
@import './dark.scss';

:root {
  --theme-color: #{$light-color} !important;
  --theme-bg: #{$light-bg} !important;
  --theme-border: #{$light-border} !important;
  --theme-canvas-bg: #{$light-canvas-bg} !important;
  --theme-active: #{$light-active} !important;
}

.dark {
  --theme-color: #{$dark-color} !important;
  --theme-bg: #{$dark-bg} !important;
  --theme-border: #{$dark-border} !important;
  --theme-canvas-bg: #{$dark-canvas-bg} !important;
  --theme-active: #{$dark-active} !important;
}
